# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/
pip-freeze.txt
pip-requirements.txt
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
build/
dist/
*.spec

# IDE / Editor specific
.vscode/
.idea/
*.swp
*~
